.bg-body {
    height: 100vh;
    background: url("../images/bg.jpg") no-repeat center center fixed;
    padding: 0.5px;
}

.background-gradient-left {
    background: linear-gradient( to left, rgba(76, 0, 255, 0.158), rgb(230, 231, 255));
    opacity: 0.5;
    filter: blur(10px);
}

.background-gradient-right {
    background: linear-gradient( to right, rgba(76, 0, 255, 0.158), rgb(230, 231, 255));
    opacity: 0.5;
    filter: blur(10px);
}

